#, fuzzy
msgid ""
msgstr ""
"Project-Id-Version: desktop files\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2025-11-17 09:05+0000\n"
"PO-Revision-Date: YEAR-MO-DA HO:MI+ZONE\n"
"Last-Translator: FULL NAME <EMAIL@ADDRESS>\n"
"Language-Team: LANGUAGE <kde-i18n-doc@kde.org>\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"

#: src/entry.desktop:2
msgctxt "Name"
msgid "US English"
msgstr ""

#: src/language_files/af/kf5_entry.desktop:2
msgctxt "Name"
msgid "Afrikaans"
msgstr ""

#: src/language_files/ar/kf5_entry.desktop:2
msgctxt "Name"
msgid "Arabic"
msgstr ""

#: src/language_files/as/kf5_entry.desktop:2
msgctxt "Name"
msgid "Assamese"
msgstr ""

#: src/language_files/az/kf5_entry.desktop:2
msgctxt "Name"
msgid "Azerbaijani"
msgstr ""

#: src/language_files/be/kf5_entry.desktop:2
msgctxt "Name"
msgid "Belarusian"
msgstr ""

#: src/language_files/be@latin/kf5_entry.desktop:2
msgctxt "Name"
msgid "Belarusian Latin"
msgstr ""

#: src/language_files/bg/kf5_entry.desktop:2
msgctxt "Name"
msgid "Bulgarian"
msgstr ""

#: src/language_files/bn_IN/kf5_entry.desktop:2
msgctxt "Name"
msgid "Bengali (India)"
msgstr ""

#: src/language_files/bn/kf5_entry.desktop:2
msgctxt "Name"
msgid "Bengali"
msgstr ""

#: src/language_files/br/kf5_entry.desktop:2
msgctxt "Name"
msgid "Breton"
msgstr ""

#: src/language_files/bs/kf5_entry.desktop:2
msgctxt "Name"
msgid "Bosnian"
msgstr ""

#: src/language_files/ca/kf5_entry.desktop:2
msgctxt "Name"
msgid "Catalan"
msgstr ""

#: src/language_files/ca@valencia/kf5_entry.desktop:2
msgctxt "Name"
msgid "Catalan (Valencian)"
msgstr ""

#: src/language_files/crh/kf5_entry.desktop:2
msgctxt "Name"
msgid "Crimean Tatar"
msgstr ""

#: src/language_files/csb/kf5_entry.desktop:2
msgctxt "Name"
msgid "Kashubian"
msgstr ""

#: src/language_files/cs/kf5_entry.desktop:2
msgctxt "Name"
msgid "Czech"
msgstr ""

#: src/language_files/cy/kf5_entry.desktop:2
msgctxt "Name"
msgid "Welsh"
msgstr ""

#: src/language_files/da/kf5_entry.desktop:2
msgctxt "Name"
msgid "Danish"
msgstr ""

#: src/language_files/de/kf5_entry.desktop:2
msgctxt "Name"
msgid "German"
msgstr ""

#: src/language_files/el/kf5_entry.desktop:2
msgctxt "Name"
msgid "Greek"
msgstr ""

#: src/language_files/en_GB/kf5_entry.desktop:2
msgctxt "Name"
msgid "British English"
msgstr ""

#: src/language_files/eo/kf5_entry.desktop:2
msgctxt "Name"
msgid "Esperanto"
msgstr ""

#: src/language_files/es/kf5_entry.desktop:2
msgctxt "Name"
msgid "Spanish"
msgstr ""

#: src/language_files/et/kf5_entry.desktop:2
msgctxt "Name"
msgid "Estonian"
msgstr ""

#: src/language_files/eu/kf5_entry.desktop:2
msgctxt "Name"
msgid "Basque"
msgstr ""

#: src/language_files/fa/kf5_entry.desktop:2
msgctxt "Name"
msgid "Farsi"
msgstr ""

#: src/language_files/fi/kf5_entry.desktop:2
msgctxt "Name"
msgid "Finnish"
msgstr ""

#: src/language_files/fr/kf5_entry.desktop:2
msgctxt "Name"
msgid "French"
msgstr ""

#: src/language_files/fy/kf5_entry.desktop:2
msgctxt "Name"
msgid "Frisian"
msgstr ""

#: src/language_files/ga/kf5_entry.desktop:2
msgctxt "Name"
msgid "Irish"
msgstr ""

#: src/language_files/gd/kf5_entry.desktop:2
msgctxt "Name"
msgid "Scottish Gaelic"
msgstr ""

#: src/language_files/gl/kf5_entry.desktop:2
msgctxt "Name"
msgid "Galician"
msgstr ""

#: src/language_files/gu/kf5_entry.desktop:2
msgctxt "Name"
msgid "Gujarati"
msgstr ""

#: src/language_files/ha/kf5_entry.desktop:2
msgctxt "Name"
msgid "Hausa"
msgstr ""

#: src/language_files/he/kf5_entry.desktop:2
msgctxt "Name"
msgid "Hebrew"
msgstr ""

#: src/language_files/hi/kf5_entry.desktop:2
msgctxt "Name"
msgid "Hindi"
msgstr ""

#: src/language_files/hne/kf5_entry.desktop:2
msgctxt "Name"
msgid "Chhattisgarhi"
msgstr ""

#: src/language_files/hr/kf5_entry.desktop:2
msgctxt "Name"
msgid "Croatian"
msgstr ""

#: src/language_files/hsb/kf5_entry.desktop:2
msgctxt "Name"
msgid "Upper Sorbian"
msgstr ""

#: src/language_files/hu/kf5_entry.desktop:2
msgctxt "Name"
msgid "Hungarian"
msgstr ""

#: src/language_files/hy/kf5_entry.desktop:2
msgctxt "Name"
msgid "Armenian"
msgstr ""

#: src/language_files/ia/kf5_entry.desktop:2
msgctxt "Name"
msgid "Interlingua"
msgstr ""

#: src/language_files/id/kf5_entry.desktop:2
msgctxt "Name"
msgid "Indonesian"
msgstr ""

#: src/language_files/ie/kf5_entry.desktop:2
msgctxt "Name"
msgid "Interlingue"
msgstr ""

#: src/language_files/is/kf5_entry.desktop:2
msgctxt "Name"
msgid "Icelandic"
msgstr ""

#: src/language_files/it/kf5_entry.desktop:2
msgctxt "Name"
msgid "Italian"
msgstr ""

#: src/language_files/ja/kf5_entry.desktop:2
msgctxt "Name"
msgid "Japanese"
msgstr ""

#: src/language_files/ka/kf5_entry.desktop:2
msgctxt "Name"
msgid "Georgian"
msgstr ""

#: src/language_files/kk/kf5_entry.desktop:2
msgctxt "Name"
msgid "Kazakh"
msgstr ""

#: src/language_files/km/kf5_entry.desktop:2
msgctxt "Name"
msgid "Khmer"
msgstr ""

#: src/language_files/kn/kf5_entry.desktop:2
msgctxt "Name"
msgid "Kannada"
msgstr ""

#: src/language_files/ko/kf5_entry.desktop:2
msgctxt "Name"
msgid "Korean"
msgstr ""

#: src/language_files/ku/kf5_entry.desktop:2
msgctxt "Name"
msgid "Kurdish"
msgstr ""

#: src/language_files/lb/kf5_entry.desktop:2
msgctxt "Name"
msgid "Luxembourgish"
msgstr ""

#: src/language_files/lt/kf5_entry.desktop:2
msgctxt "Name"
msgid "Lithuanian"
msgstr ""

#: src/language_files/lv/kf5_entry.desktop:2
msgctxt "Name"
msgid "Latvian"
msgstr ""

#: src/language_files/mai/kf5_entry.desktop:2
msgctxt "Name"
msgid "Maithili"
msgstr ""

#: src/language_files/mk/kf5_entry.desktop:2
msgctxt "Name"
msgid "Macedonian"
msgstr ""

#: src/language_files/ml/kf5_entry.desktop:2
msgctxt "Name"
msgid "Malayalam"
msgstr ""

#: src/language_files/mr/kf5_entry.desktop:2
msgctxt "Name"
msgid "Marathi"
msgstr ""

#: src/language_files/ms/kf5_entry.desktop:2
msgctxt "Name"
msgid "Malay"
msgstr ""

#: src/language_files/my/kf5_entry.desktop:2
msgctxt "Name"
msgid "Burmese"
msgstr ""

#: src/language_files/nb/kf5_entry.desktop:2
msgctxt "Name"
msgid "Norwegian Bokmål"
msgstr ""

#: src/language_files/nds/kf5_entry.desktop:2
msgctxt "Name"
msgid "Low Saxon"
msgstr ""

#: src/language_files/ne/kf5_entry.desktop:2
msgctxt "Name"
msgid "Nepali"
msgstr ""

#: src/language_files/nl/kf5_entry.desktop:2
msgctxt "Name"
msgid "Dutch"
msgstr ""

#: src/language_files/nn/kf5_entry.desktop:2
msgctxt "Name"
msgid "Norwegian Nynorsk"
msgstr ""

#: src/language_files/oc/kf5_entry.desktop:2
msgctxt "Name"
msgid "Occitan"
msgstr ""

#: src/language_files/or/kf5_entry.desktop:2
msgctxt "Name"
msgid "Oriya"
msgstr ""

#: src/language_files/pa/kf5_entry.desktop:2
msgctxt "Name"
msgid "Punjabi"
msgstr ""

#: src/language_files/pl/kf5_entry.desktop:2
msgctxt "Name"
msgid "Polish"
msgstr ""

#: src/language_files/ps/kf5_entry.desktop:2
msgctxt "Name"
msgid "Pashto"
msgstr ""

#: src/language_files/pt_BR/kf5_entry.desktop:2
msgctxt "Name"
msgid "Brazil portuguese"
msgstr ""

#: src/language_files/pt/kf5_entry.desktop:2
msgctxt "Name"
msgid "Portuguese"
msgstr ""

#: src/language_files/ro/kf5_entry.desktop:2
msgctxt "Name"
msgid "Romanian"
msgstr ""

#: src/language_files/ru/kf5_entry.desktop:2
msgctxt "Name"
msgid "Russian"
msgstr ""

#: src/language_files/se/kf5_entry.desktop:2
msgctxt "Name"
msgid "Northern Sami"
msgstr ""

#: src/language_files/si/kf5_entry.desktop:2
msgctxt "Name"
msgid "Sinhala"
msgstr ""

#: src/language_files/sk/kf5_entry.desktop:2
msgctxt "Name"
msgid "Slovak"
msgstr ""

#: src/language_files/sl/kf5_entry.desktop:2
msgctxt "Name"
msgid "Slovenian"
msgstr ""

#: src/language_files/sq/kf5_entry.desktop:2
msgctxt "Name"
msgid "Albanian"
msgstr ""

#: src/language_files/sr@ijekavian/kf5_entry.desktop:2
msgctxt "Name"
msgid "Serbian Ijekavian"
msgstr ""

#: src/language_files/sr@ijekavianlatin/kf5_entry.desktop:2
msgctxt "Name"
msgid "Serbian Ijekavian Latin"
msgstr ""

#: src/language_files/sr/kf5_entry.desktop:2
msgctxt "Name"
msgid "Serbian"
msgstr ""

#: src/language_files/sr@latin/kf5_entry.desktop:2
msgctxt "Name"
msgid "Serbian Latin"
msgstr ""

#: src/language_files/sv/kf5_entry.desktop:2
msgctxt "Name"
msgid "Swedish"
msgstr ""

#: src/language_files/ta/kf5_entry.desktop:2
msgctxt "Name"
msgid "Tamil"
msgstr ""

#: src/language_files/te/kf5_entry.desktop:2
msgctxt "Name"
msgid "Telugu"
msgstr ""

#: src/language_files/tg/kf5_entry.desktop:2
msgctxt "Name"
msgid "Tajik"
msgstr ""

#: src/language_files/th/kf5_entry.desktop:2
msgctxt "Name"
msgid "Thai"
msgstr ""

#: src/language_files/tok/kf5_entry.desktop:2
msgctxt "Name"
msgid "Toki Pona"
msgstr ""

#: src/language_files/tr/kf5_entry.desktop:2
msgctxt "Name"
msgid "Turkish"
msgstr ""

#: src/language_files/tt/kf5_entry.desktop:2
msgctxt "Name"
msgid "Tatar"
msgstr ""

#: src/language_files/ug/kf5_entry.desktop:2
msgctxt "Name"
msgid "Uyghur"
msgstr ""

#: src/language_files/uk/kf5_entry.desktop:2
msgctxt "Name"
msgid "Ukrainian"
msgstr ""

#: src/language_files/uz@cyrillic/kf5_entry.desktop:2
msgctxt "Name"
msgid "Uzbek (Cyrillic)"
msgstr ""

#: src/language_files/uz/kf5_entry.desktop:2
msgctxt "Name"
msgid "Uzbek"
msgstr ""

#: src/language_files/vi/kf5_entry.desktop:2
msgctxt "Name"
msgid "Vietnamese"
msgstr ""

#: src/language_files/wa/kf5_entry.desktop:2
msgctxt "Name"
msgid "Walloon"
msgstr ""

#: src/language_files/xh/kf5_entry.desktop:2
msgctxt "Name"
msgid "Xhosa"
msgstr ""

#: src/language_files/zh_CN/kf5_entry.desktop:2
msgctxt "Name"
msgid "Simplified Chinese"
msgstr ""

#: src/language_files/zh_HK/kf5_entry.desktop:2
msgctxt "Name"
msgid "Chinese (Hong Kong)"
msgstr ""

#: src/language_files/zh_TW/kf5_entry.desktop:2
msgctxt "Name"
msgid "Traditional Chinese"
msgstr ""
